@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 0.003rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  font-family: inherit;
}

.layout {
  max-width: 960px;
  margin: 0 auto;
}

.page-header {
  margin-left: 90px;
  margin-right: 130px;

  h1 {
    font-weight: 500;
  }

  p {
    line-height: 1.55rem;
    font-size: 1.07rem;
    color: #8f9197;
  }
}

.link-bar {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.small-button {
  text-decoration: none;

  button {
    background-color: #F5F5F8;
    border: none;
    border-radius: 25px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    font-size: 14.5px;
    font-weight: 500;
    margin-right: 15px;
    color: #282C34;

    :hover {
      cursor: pointer;
    }
  }

  img {
    height: 18px;
    margin-right: 10px;
  }
}

.tick {
  line {
    stroke: #C0C0BB;
  }
}

.tick text,
.axis-label,
.legend-item text,
.legend-label {
  fill: #635F5D;
}

.legend-label {
  font-size: 1.05rem;
}

.legend-item {
  :hover {
    cursor: default;
  }

  text {
    font-size: 0.9rem;
    text-transform: capitalize;
  }

}

.axis-label {
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
}

.mark,
.legend-item circle {
  opacity: 0.7;
}

.dropdown-label {
  font-size: 1.1rem;
  margin-right: 10px;
  color: #635F5D;
}

.Dropdown-root {
  width: 200px;
  display: inline-block;
  margin-bottom: 0px;
}

.dropdown-container {
  display: inline-flex;
  align-items: center;
  margin-top: 24px;
  margin-right: 25px;
}